.carousel_wrapper{
  height: 340px;
  overflow: scroll;
  overflow-x: hidden;
  padding-top: 100px;
  margin-top: 100px;
}


.carousel_wrapper::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.carousel_wrapper {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}



